html {
    scroll-behavior: smooth;
    overflow-y: scroll;
}

body {
    padding-top: 70px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
    background: linear-gradient(to right bottom, whitesmoke, 70%, indianred) no-repeat;
}

.slide-image {
    border-radius: 300px;
    max-height: 500px;
    max-width: 500px;
}

.thumbnail img {
    max-height: 130px;
    max-width: 300px;
}

.modal-dialog img {
    max-height: 150px;
    max-width: 200px;
}

.row img {
    text-align: center;
}

div {
    color: black;
}

.lead {
    color: darkred;
}

.count-input {
	width:10%;
	display: inline;
}

.add-to-basket-block {
	margin-top: 7px;
}

.modal-image {
	width: 100%;
}

.slide-image {
    width: 100%;
}

.carousel-indicators li {
    max-height: 300px;
}

.carousel-holder {
    margin-bottom: 30px;
}

.carousel-control,
.item {
    border-radius: 4px;
}

.caption {
    height: 130px;
    overflow: hidden;
}

.caption h4 {
    white-space: normal;
}

.thumbnail img {
    width: 100%;
}

.ratings {
    padding-right: 10px;
    padding-left: 10px;
    color: #d17581;
}

.thumbnail {
    padding: 0;
}

.thumbnail .caption-full {
    padding: 9px;
    color: #333;
}

.amount{
    display: inline;
}

.product{
    display: inline;
}

.remove-from-cart{
    display: inline;
}

footer {
    margin: 50px 0;
}